<div
	class="container d-flex justify-content-center"
	*ngIf="curso; else cursoVacio"
>
	<div class="col-10 col-md-6 card text-black bg-white shadow mb-4">
		<div
			class="card-body"
			[ngClass]="{ beginner: curso.category === 'BEGINNER' }"
		>
			<h4 class="card-title text-center fw-bold">
				{{ indexCurso + " " + curso.description }}
			</h4>
			<img
				class="card-img-bottom"
				[src]="curso.iconUrl"
				[alt]="curso.description"
			/>
			<h6 class="card-text text-center">
				{{ curso.longDescription }}
			</h6>
			<button
				type="button"
				class="btn btn-primary col-12"
				(click)="OnBotonClick()"
			>
				¿Curso Preferido?
			</button>
		</div>
	</div>
</div>
<ng-template #cursoVacio>
	<div class="container mb-4 d-flex justify-content-center">
		<div class="col-10 col-md-6 text-black bg-white">
			<h4 class="text-center">Curso indefenido o nulo ...</h4>
		</div>
	</div>
</ng-template>
